html,
body {
	font-family: 'Roboto', sans-serif;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
	}
}

main {
	background: transparent url('../../storage/images/furry.night.jpg') no-repeat 50% fixed;
	background-size: cover;
}

.hero {
	&.is-dark {
		background: transparent;
	}
}

.button {
	&.is-dark {
		@include transparent();
	}
}

#section {
	&-main {
		.title {
			font-size: 10rem;
		}
		.subtitle {
			font-size: 2rem;
		}
	}
	&-about {
		.container {
			@include transparent();
			border-radius: 1rem;
			padding: 2rem;
		}
		.content {
			font-family: 'Georgia', 'Times New Roman', 'Times', serif;
		}
	}
}