html,
body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

#section {
	&-main {
		.title {
			font-size: 10rem;
		}
		.subtitle {
			font-size: 2rem;
		}
	}
	&-about {
		.content {
			font-family: 'Georgia', 'Times New Roman', 'Times', serif;
		}
	}
}