@media (max-width: 768px) {
	main {
		background-position: 100% 50%;
	}
	#section {
		$font-size: 5rem;
		&-main {
			.title {
				font-size: $font-size;
			}
			.subtitle {
				font-size: $font-size - 4;
			}
		}
	}
}
